.login {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    flex-direction: column;
}

form input[type="text"] {
    height: 30px;
}

form :first-child,
form :last-child {
    margin-bottom: 10px;
}

form button {
    width: 100%;
    background-color: rgb(0, 55, 255);
    color: white;
    font-weight: bolder;
    height: 30px;
}

form button:focus {
    color: none;
}

.error {
    color: red;
}